ul.product-page__icons-list
	li.product-page__icons-item
		include ../../icon/icon.pug
		+icon('icon__shield')

		span Гарантия на товар
			b  1 год

	li.product-page__icons-item
		+icon('icon__aircraft')

		span Доставка по РФ
			b  бесплатно

	li.product-page__icons-item
		+icon('icon__gift')

		span Блесна
			b  в подарок