div.testimonials
	div.testimonials__row
		div.testimonials__col
			include ../testimonial/testimonial.pug
			+testimonial({
				img: 'testimonial__01.png', 
				name: 'Смирнов Павел Валерьевич', 
				date: '2018-04-06', 
				text: 'Большое спасибо друзья за Вашу работу,все пришло во время и отличного качества и по очень демократичной цене, выписывал катушку RYOBI а до этой покупки выписывал спиннинги и катушки DAIWA и тоже все было отлично ,еще раз большое спасибо удачи в работе и всех благ!!!'
			})

		div.testimonials__col
			+testimonial({
				img: 'testimonial__01.png', 
				name: 'Смирнов Павел Валерьевич', 
				date: '2018-04-06', 
				text: 'Цены конечно же подросли,до этого гораздо демократичнее было,ассортимент можно и расширить в отношении приманок в частности «спрут» не вся линейка воюлеров есть,сроки доставки в частности «СДЭК» впечатлили. Большое спасибо друзья за Вашу работу,все пришло во время и отличного качества и по очень демократичной цене, выписывал катушку RYOBI а до этой покупки выписывал спиннинги и катушки DAIWA и тоже все было отлично ,еще раз большое спасибо удачи в работе и всех благ!!!'
			})

		div.testimonials__col
			+testimonial({
				img: 'testimonial__01.png', 
				name: 'Смирнов Павел Валерьевич', 
				date: '2018-04-06', 
				text: 'Большое спасибо друзья за Вашу работу,все пришло во время и отличного качества и по очень демократичной цене, выписывал катушку RYOBI а до этой покупки выписывал спиннинги и катушки DAIWA и тоже все было отлично ,еще раз большое спасибо удачи в работе и всех благ!!!'
			})

		div.testimonials__col
			+testimonial({
				img: 'testimonial__01.png', 
				name: 'Смирнов Павел Валерьевич', 
				date: '2018-04-06', 
				text: 'Большое спасибо друзья за Вашу работу,все пришло во время и отличного качества и по очень демократичной цене, выписывал катушку RYOBI а до этой покупки выписывал спиннинги и катушки DAIWA и тоже все было отлично ,еще раз большое спасибо удачи в работе и всех благ!!!'
			})

		div.testimonials__col
			+testimonial({
				img: 'testimonial__01.png', 
				name: 'Смирнов Павел Валерьевич', 
				date: '2018-04-06', 
				text: 'Большое спасибо друзья за Вашу работу,все пришло во время и отличного качества и по очень демократичной цене, выписывал катушку RYOBI а до этой покупки выписывал спиннинги и катушки DAIWA и тоже все было отлично ,еще раз большое спасибо удачи в работе и всех благ!!!'
			})

		div.testimonials__col
			+testimonial({
				img: 'testimonial__01.png', 
				name: 'Смирнов Павел Валерьевич', 
				date: '2018-04-06', 
				text: 'Большое спасибо друзья за Вашу работу,все пришло во время и отличного качества и по очень демократичной цене, выписывал катушку RYOBI а до этой покупки выписывал спиннинги и катушки DAIWA и тоже все было отлично ,еще раз большое спасибо удачи в работе и всех благ!!!'
			})