div.item-choice(id="item-choice__1")
	div.item-choice__scroller
		ul.item-choice__list
			li.item-choice__item
				include ../product-choice/product-choice.pug
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY')

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

			li.item-choice__item
				+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY')

		div.item-choice__line-bar
		div.item-choice__bar