.item-choice {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.mCustomScrollBox {
  @media(min-width: 768px) {
    padding-bottom: 15px;
  }
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 4px;

  @media(min-width: 768px) {
    bottom: 2px;
  }
}
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  margin: 0;
  height: 4px;
  background: #1EACF6;
  border-radius: 3px;
  cursor: pointer;

  @media(min-width: 768px) {
    height: 6px;
  }
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  margin: 2px 0 0 0;
  height: 1px;
  background: #C5C5C5;

  @media(min-width: 768px) {
    height: 2px;
  }
}
.item-choice__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 18px;
  height: 260px;
  flex-direction: column;
  flex-wrap: wrap;

  @media(min-width: 768px) {
    height: 590px;
    padding-bottom: 0;
  }
}
.item-choice__item {
  margin-right: 20px;
  width: 220px;
  height: 260px;
  margin-bottom: 10px;

  @media(min-width: 768px) {
    width: 570px;
    height: 280px;
    margin-bottom: 15px;
  }
}
.item-choice__item:first-child {
 // height: 110px;
}