div.item-choice
	ul.item-choice__list
		li.item-choice__item
			include ../product-choice/product-choice.pug
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY')

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY') 

		li.item-choice__item
			+product-choice('product-choice.jpg', '1 825', 'Удилище нахлыстовое SALMO Diamond SKY FLY')