/*
 * Fonts
 *
 */

$font-main: 'Gotham Pro';

/*
 * Color
 *
 */
 
$color-black: #000000;
$color-blue: #1eacf6;
$color-gray20: #363942;
$color-text: #363942;

$color-blue-300: #3eaab7;
$color-gray-300: #dfdfdf;
$color-gray-400: #e5e5e5;
$color-gray-500: #a5acad;
$color-orange-200: #ff960e;
$color-orange-300: #dd7d00;
$color-green: #3eb877;



/*
 * Animation Speed
 *
 */

$animation-speed: 0.6s;