div.breadcrumbs
	ul.breadcrumbs__list
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Личный кабинет
		li.breadcrumbs__item.breadcrumbs__item--active
			span Мой профиль