section.buyers-choice
	div.buyers-choice__header
		div.container-1180
			include ../title-icon/title-icon.pug
			+title-icon({icon: 'icon__fish', title: 'Выбор покупателей', text: 'Каталог нашего рыболовного магазина, включает в себя более 45000 товаров для рыбалки. Весь ассортимент подбирается с особой тщательностью, чтобы каждая поездка на природу принесла вам массу удовольствия и большой улов.'})

	div.buyers-choice__body
		include ../tabs/tabs.pug