mixin item-overview(data)
	div.item-overview
		div.item-overview__body
			div.item-overview__img-block
				a(href="#")
					img.item-overview__img(src="images/item-overview__img.jpg", alt="")

				img.item-overview__ico(src="images/item-slide__wave.svg", alt="")

			div.item-overview__text
				a.item-overview__title(href="#")
					h3 Первая рыбалка с лодки

				p Осенний улов. Окунь, щука… Не без сходов…В этом видео показываю свой первый опыт ловли рыбы с лодки. Лодка очень удобная! Ловить одно удовольствие. Поймал окуней, щуку. Были и сходы.

		ul.item-overview__gallery
			li.item-overview__item
				a(href="#")
					img.item-overview__video(src="images/item-overview__video.jpg", alt="", id="overview__video-1")

			li.item-overview__item
				a(href="#")
					img.item-overview__gallery-img(src="images/item-overview__gallery-1.jpg", alt="")

			li.item-overview__item
				a(href="#")
					img.item-overview__gallery-img(src="images/item-overview__gallery-2.jpg", alt="")