.title-icon {
	text-align: center;
	max-width: 1036px;
	margin: 0 auto;
}
.title-icon__icon {
	height: 30px;

	@media(min-width: 768px) {
		height: 40px;
		padding-bottom: 12px;
	}
}
.title-icon .icon__fish {
	width: 42px;
	height: 30px;
	fill: $color-blue;

	@media(min-width: 768px) {
		width: 56px;
		height: 40px;
	}
}
.title-icon h2 {
	@extend .h2;

	margin: 0;	
	padding-top: 8px;
	padding-bottom: 6px;

	@media(min-width: 768px) {
		padding-top: 1px;
		padding-bottom: 46px;
	}
}
.title-icon p {
	@extend .text3;

	margin: 0;
	line-height: 20px;

	@media(min-width: 768px) {
		line-height: 30px;
	}
}