.product-page__top {
	display: flex;
	flex-direction: column;

	@media(min-width: 1200px) {
		display: block;	
		padding-top: 22px;	
	}
}
.product-page__header {
	order: 2;
	padding-top: 20px;
	padding-bottom: 20px;

	@media(min-width: 768px) {
		padding: 18px 0 30px 0;
		order: 1;
	}
	@media(min-width: 1200px) {
		order: 2;
		width: 620px;
		float: right;
		padding: 0 0 30px 0;
	}
	@media(min-width: 1260px) {
		width: 678px;	
		padding: 0 0 34px 0;	
	}
	@media(min-width: 1720px) {
		width: 740px;
	}
}
.product-page__img {
	order: 1;

	@media(min-width: 768px) {
		order: 2;
		margin-bottom: 15px;
	}
	@media(min-width: 1200px) {
		order: 1;
		width: 480px;
		height: auto;
		padding-top: 8px;
		margin-bottom: 0;
		margin-right: 20px;
		float: left;
	}
	@media(min-width: 1720px) {
		width: 780px;
		margin-right: 60px;
	}
}
.product-page__info {
	order: 3;

	@media(min-width: 1200px) {
		float: right;
		width: 620px;		
	}
	@media(min-width: 1260px) {
		width: 678px;		
	}
	@media(min-width: 1720px) {
		width: 740px;
	}
}


@import '__top/__top';
@import '__bottom/__bottom';
@import '__icons/__icons';
@import '__title/__title';
@import '__properties/__properties';
@import '__buy/__buy';