ul.product-table-item
	li
		div
			img(src="images/product-table-item.png", alt="")

	li
		div AXS-692M

	li
		div 100

	li 
		div 6'9" / 2.06 

	li
		div Medium

	li
		div 8 - 17

	li
		div 5 - 24

	li
		div 2

	li 
		div
			span.product-table-item__old-price 2 500 руб
			span.product-table-item__price 1 678 
				span руб

	li 
		div
			include ../btn/btn.pug
			+btn({icon_l: 'icon__star'})(class="product-table-item__star")
			+btn({text: 'Купить'})(class="btn--outline")