div.mobile-filter
	div.mobile-filter__in
		div.mobile-filter__header
			include ../btn/btn.pug
			+btn({text: 'Сбросить все'})
			+btn({icon_l: 'icon__close'})(class="mobile-filter-close")

		div.mobile-filter__body
			include ../cat-filter/cat-filter--mob.pug