.mobile-filter {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;	
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 2000;
}
.mobile-filter--show {
	left: 0;
}
.mobile-filter__in {
	position: fixed;
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	top: 0;
	left: -100%;			
	z-index: 2001;

	@media(min-width: 768px) {		
		max-width: 364px;	
		transition: all 0.4s;	
	}
}
.mobile-filter--show .mobile-filter__in {
	left: 0;
}
.mobile-filter .cat-filter {
  max-width: 280px;
  margin: 0 auto;
}
.mobile-filter__header {
	box-sizing: border-box;
	padding: 0 20px;
	/* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); */
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.mobile-filter__header .btn {
	width: 130px;
	height: 30px;
	text-align: center;
}
.mobile-filter .btn__text {
	margin: 0;
	line-height: 30px;
	font-size: 12px;
}
.mobile-filter .icon {
	width: 12px;
	height: 12px;
}
.mobile-filter__header .btn:first-child {
	background: none;
	border: 1px solid #1eacf6;
}
.mobile-filter__header .btn:last-child {
	background: none;
	border: 1px solid rgba(54, 57, 66, 0.2);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mobile-filter__header .btn:first-child .btn__text {
	color: #1eacf6;
}
.mobile-filter__body {
	box-sizing: border-box;
	padding: 0 20px;
}
.mobile-filter .cat-filter__scroll::before {
	content: none;
}