.icon {
	fill: $color-black;
	display: inline-block;
}
.icon__search-big,
.icon__star {
	width: 20px;
	height: 20px;
}
.icon__cart {
	width: 26px;
	height: 20px;
}
.icon__fish {
	width: 42px;
	height: 30px;
}
.icon__shield {
	width: 14px;
	height: 16px;
}
.icon__aircraft {
	width: 27px;
	height: 15px;
}
.icon__gift {
	width: 17px;
	height: 20px;
}