.icon {
	fill: $color-black;
	display: inline-block;
}
.icon__search-big,
.icon__star {
	width: 20px;
	height: 20px;
}
.icon__cart {
	width: 26px;
	height: 20px;
}
.icon__fish {
	width: 42px;
	height: 30px;
}
.icon__shield {
	width: 14px;
	height: 16px;
}
.icon__aircraft {
	width: 27px;
	height: 15px;
}
.icon__gift {
	width: 17px;
	height: 20px;
}
.icon__login {
	width: 24px;
	height: 26px;
}
.icon__registration {
	width: 24px;
	height: 24px;
}
.icon__phone {
	width: 20px;
	height: 20px;
}
.icon__search {
	width: 16px;
	height: 16px;
}
.icon__wave {
	width: 40px;
	height: 15px;
}
.icon__rod {
	width: 21px;
	height: 20px;
}
.icon__spoon {
	width: 17px;
	height: 20px;
}
.icon__nettle {
	width: 22px;
	height: 20px;
}
.icon__hook {
	width: 17px;
	height: 20px;
}
.icon__vest {
	width: 17px;
	height: 17px;
}