.search-select {
	width: 428px;
	height: 38px;
	border: 1px solid #D1D1D1;
	border-radius: 5px;

	@media(min-width: 1720px) {
		width: 578px;
	}
}
.search-select__form {
	display: flex;
	flex-direction: row;
}
.search-select input {
	width: 205px;
	line-height: 38px;
	padding: 0 24px;
	overflow: hidden;
	border: none;
	background: none;
	outline: none;
	font-size: 14px;
	font-style: italic;

	@media(min-width: 1720px) {
		width: 314px;
	}
}
.search-select__select {
	border-left: 1px solid #D8D8D8;
	box-sizing: border-box;
	width: 146px;
	font-size: 14px;

	@media(min-width: 1720px) {
		width: 197px;
	}
}
.search-select .select {
	width: 145px;

	@media(min-width: 1720px) {
		width: 196px;
	}
}
.search-select__select input {
	display: none !important;
}
.search-select .item {
	padding-left: 9px;
	z-index: 999;
}
.search-select .selectize-control {
	height: 20px;
	padding-top: 10px;
}
.search-select .select.selectize-control.single .selectize-input:after {
	content: "";
	top: 7px;
	border: none;
	width: 6px;
	height: 6px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	transform: rotate(45deg);
}
.search-select .select.selectize-control.single .focus.selectize-input:after {
	top: 12px;
	transform: rotate(-135deg);
}
.search-select .selectize-input {
	padding-bottom: 8px;
}
.search-select .btn{
	width: 38px;
	height: 38px;
	border: none;
	border-radius: 0 4px 4px 0;
	transition: all 0.4s;
}
.search-select .btn:hover {
	opacity: 0.7;
}
.search-select .icon {
	line-height: 38px;
}
.search-select .icon {
	fill: #ffffff;
}