div.search-select
	form.search-select__form(action="/", method="post")
		input(type="text", placeholder="Поиск по сайту")

		div.search-select__select
			include ../select/select.pug
			+select({name: 'search_cat', placeholder: 'Весь каталог', selected: 'Весь каталог'})

		include ../btn/btn.pug
		+btn({icon_l: 'icon__search', type: 'submit'})