footer.footer
	div.footer__top
		div.footer__menu
			div
				include ../menu-footer/menu-footer.pug
				+menu-footer({
					title: 'Информация',
					menu: 1
				})

			div
				+menu-footer({
					title: 'ДОСТАВКА И ОПЛАТА',
					menu: 1
				})
				
			div
				+menu-footer({
					title: 'ТОВАРЫ',
					menu: 2
				})

		div.footer__contacts
			h3 ПО ВСЕМ ВОПРОСАМ 

			div
				p
					i
						include ../icon/icon.pug
						+icon('icon__mail')

					a(href="mailto:lovimtut@mail.ru") lovimtut@mail.ru

				p
					i
						+icon('icon__phone')

					a(href="tel:88002522222") 8 800 252 22 22

	div.footer__border
		
	div.footer__icons
		div.footer__ico-money
			ul
				li
					img(src="images/footer__yandex.svg", alt="ico yandex", data-color="footer__yandex")
				li
					img(src="images/footer__qiwi.svg", alt="ico qiwi", data-color="footer__qiwi")
				li
					img(src="images/footer__webmoney.svg", alt="ico webmoney", data-color="footer__webmoney")
				li
					img(src="images/footer__mastercard.svg", alt="ico mastercard", data-color="footer__mastercard")
				li
					img(src="images/footer__visa.svg", alt="ico visa", data-color="footer__visa")
				li
					img(src="images/footer__mir.svg", alt="ico mir", data-color="footer__mir")

		div.footer__border.footer__border--small

		div.footer__ico-soc
			ul
				li
					include ../social/social.pug
					+social({link: '#', icon: 'icon__vk'})
				li
					+social({link: '#', icon: 'icon__facebook'})
				li
					+social({link: '#', icon: 'icon__classmates'})
				li
					+social({link: '#', icon: 'icon__in'})
				li
					+social({link: '#', icon: 'icon__youtube'})

	div.footer__bottom
		span 2018 | &copy; Lovimtut.ru | 
			a(href="/") Карта сайта