div.product-table
	ul.product-table__list
		li.product-table__title
			div Фото
			div Модель
			div Вес, гр
			div Длина, ft / m
			div Мощность 
			div Тест по леске, Lbs
			div Тест по приманкам, гр 
			div N колен
			div Цена
			div

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug

		li
			include ../product-table-item/product-table-item.pug