div.tabs
	ul
		li.tabs__icon
			include ../icon/icon.pug
			+icon('icon__rod')

		li.tabs__icon
			+icon('icon__spoon')

		li.tabs__icon
			+icon('icon__nettle')

		li.tabs__icon
			+icon('icon__hook')

		li.tabs__icon
			+icon('icon__vest')

	div.tabs__body
		div.tabs__tab
			include ../item-choice/item-choice.pug

		div.tabs__tab
			include ../item-choice/item-choice.pug

		div.tabs__tab
			include ../item-choice/item-choice.pug

		div.tabs__tab
			include ../item-choice/item-choice.pug

		div.tabs__tab
			include ../item-choice/item-choice.pug