div.tabs
	ul
		li.tabs__icon
			include ../icon/icon.pug
			+icon('icon__rod')

		li.tabs__icon
			+icon('icon__spoon')

		li.tabs__icon
			+icon('icon__nettle')

		li.tabs__icon
			+icon('icon__hook')

		li.tabs__icon
			+icon('icon__vest')

	div.tabs__body
		div.tabs__tab
			include ../item-choice/item-choice.pug

		div.tabs__tab
			div.item-choice(id="item-choice__2")
				div.item-choice__scroller
					ul.item-choice__list
						li.item-choice__item
							span 111111 

						li.item-choice__item
							span 2222222 

						li.item-choice__item
							span 333333 

						li.item-choice__item
							span sdghjdf 

						li.item-choice__item
							span sdghdfhjfghjdf 

						li.item-choice__item
							span fghjfgh 

					div.item-choice__line-bar
						div.item-choice__bar

		div.tabs__tab
			p 333333333

		div.tabs__tab
			p 444444444

		div.tabs__tab
			p 555555555