div.tabs
	ul
		li
			include ../icon/icon.pug
			+icon('icon__youtube')

		li
			+icon('icon__wave')

		li
			+icon('icon__search')

		li
			+icon('icon__search')

		li
			+icon('icon__search')

	div.tabs__body
		div.tabs__tab.tabs__tab-active
			p 111111111

		div.tabs__tab
			p 111111111

		div.tabs__tab
			p 111111111

		div.tabs__tab
			p 111111111

		div.tabs__tab
			p 111111111