doctype html
html(lang="ru")
	include include/head.pug
	+head('Каталог')

	body
		include ../blocks/header-mobile/header-mobile.pug
		include ../blocks/header/header.pug
		
		div.content
			div.container-1580
				div.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item.breadcrumbs__item--active
							span Удилища
		
			include ../blocks/cat/cat.pug

		div.white-block
			div.container-1180
				p.text3 Эффективность рыбалки в значительной степени зависит от того, насколько функциональное, надежное и удобное удилище выбрал и приобрел для себя рыболов. Опытные рыбаки знают, что для каждого вида ловли необходимо использовать определенную снасть. 
					br
					|Не важно, являетесь вы начинающим рыболовом или профессионалом, у нас вы непременно подберете рыболовную удочку, подходящую вам по качеству, рабочим характеристикам и стоимости, чем обеспечите себе великолепный улов и непревзойденное удовольствие от процесса.

		include ../blocks/bottom/bottom.pug
		+bottom({subscribe: true, brands_line: true})

		include ../blocks/menu-mobile/menu-mobile.pug

		include ../blocks/mobile-filter/mobile-filter.pug

		include include/script.pug