doctype html
html(lang="ru")
	include include/head.pug
	+head('Карточка товара')

	body
		include ../blocks/header-mobile/header-mobile.pug
		include ../blocks/header/header.pug

		div.container-1580
			include ../blocks/breadcrumbs/breadcrumbs.pug

		div.container-fluid-sm
			include ../blocks/product-page/product-page.pug

		include ../blocks/bottom/bottom.pug
		+bottom({subscribe: true})

		include ../blocks/menu-mobile/menu-mobile.pug

		include include/script.pug