doctype html
html(lang="ru")
	include include/head.pug
	+head('Index')

	body
		include ../blocks/header-mobile/header-mobile.pug
		include ../blocks/header/header.pug

		include ../blocks/home-top/home-top.pug

		include ../blocks/buyers-choice/buyers-choice.pug

		div.container
			div.div sdfgsdg

		br
		br

		div.container-1180
			div.div-1180 sdfgsdg

		br
		br

		div.container-1580
			div.div-1580 sdfgsdg

		include include/script.pug