doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body
		include ../blocks/header-mobile/header-mobile.pug

		br
		br

		div(style="background-color: #f0f4f7; padding: 50px 0;")
			include ../blocks/cat/cat.pug

		div(style="background-color: #f0f4f7; padding: 50px 0;")
			div.cat.cat--list
				div.cat__item
					include ../blocks/product/product.pug
					+product({spec: 'Спецпредложение', img: 'product__img-04.jpg', title: 'Катушка SALMO Sniper Spin 5 2110FD', old_price: '5 500 руб', price: '4 500', not: 'Нет в наличии'})(class="product--list")

				div.cat__item
					+product({img: 'product__img-03.jpg', title: 'Воблер SALMO Jack', price: '550'})(class="product--list")

				div.cat__item
					+product({new: 'Новинка', img: 'product__img-02.jpg', title: 'Воблер SALMO Jack', price: '550'})(class="product--list")

				div.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})(class="product--list")

				div.cat__item
					+product({new: 'Новинка', img: 'product__img-02.jpg', title: 'Воблер SALMO Jack', price: '550'})(class="product--list")

				div.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})(class="product--list")

		br
		br

		div.container-1180
			include ../blocks/title-icon/title-icon.pug
			+title-icon({icon: 'icon__fish', title: 'Выбор покупателей', text: 'Каталог нашего рыболовного магазина, включает в себя более 45000 товаров для рыбалки. Весь ассортимент подбирается с особой тщательностью, чтобы каждая поездка на природу принесла вам массу удовольствия и большой улов.'})

		br
		br

		div.container-1180(style="background-color: #cfcfcf; padding: 50px 0;")
			include ../blocks/subscribe/subscribe.pug

		br
		br

		div.container-1180(style="padding: 50px 0;")
			include ../blocks/filter-categories/filter-categories.pug
		
		include include/script.pug