ul
	li
		span Тип:
		b Удилище
	li
		span Макс. длина, м:
		b 2.40
	li
		span Мин. тест, граммы:
		b 10
	li
		span Макс. длина, м:
		b 2.40

ul
	li
		span Макс. тест, граммы:
		b 30
	li
		span Конструкция удилища:
		b Штекерная
	li
		span Комплект:
		b 1
	li
		span Конструкция удилища:
		b Штекерная