div.menu-mobile__in
	ul.menu-mobile__list.menu-mobile__.menu-mobile__navcat
		li.menu-mobile__item.menu-mobile__item--white-b
			span.menu-mobile__close
				+icon('icon__arrow-left')

		li.menu-mobile__item 
			a(href="#") Спининговые

		li.menu-mobile__item 
			a(href="#") Кастинговые

		li.menu-mobile__item.menu-mobile__dropdown
			a.menu-mobile__nav(href="#") Штекерные

		li.menu-mobile__item 
			a(href="#") Поплавочные

		li.menu-mobile__item 
			a(href="#") Фидерные