div.menu-mobile__in
	ul.menu-mobile__list
		li.menu-mobile__item.menu-mobile__item--white-b
			span.menu-mobile__close
				+icon('icon__arrow-left')

		li.menu-mobile__item.menu-mobile__dropdown 
			a.menu-mobile__nav(href="#") Удилища

			include menu-mobile__in2.pug

		li.menu-mobile__item 
			a(href="#") Катушки

		li.menu-mobile__item 
			a(href="#") Лески

		li.menu-mobile__item 
			a(href="#") Приманки

		li.menu-mobile__item 
			a(href="#") Крючки

		li.menu-mobile__item 
			a(href="#") Грузы

		li.menu-mobile__item 
			a(href="#") Хранение

		li.menu-mobile__item 
			a(href="#") Аксессуары

		li.menu-mobile__item 
			a(href="#") Одежда

		li.menu-mobile__item 
			a(href="#") Обувь

		li.menu-mobile__item 
			a(href="#") Лодки