div.menu-mobile
	ul.menu-mobile__list
		li.menu-mobile__item.menu-mobile__item--white-b
			span.menu-mobile__nav
				include ../icon/icon.pug
				+icon('icon__cat')

				|Каталог

			include menu-mobile__in.pug

		li.menu-mobile__item
			a(href="#")
				+icon('icon__registration ')
				| Вход/Регистрация

		li.menu-mobile__item.menu-mobile__item--white-b
			a(href="#")
				+icon('icon__geo ')
				| Город: Москва

		li.menu-mobile__item
			a(href="#") О компании

		li.menu-mobile__item
			a(href="#") Доставка и оплата

		li.menu-mobile__item
			a(href="#") Помощь при выборе

		li.menu-mobile__item
			a(href="#") Акции

		li.menu-mobile__item.menu-mobile__item--white-b
			a(href="#") Контакты

		li.menu-mobile__item
			a(href="tel:88002522222")
				+icon('icon__phone')
				b 8 800 252 22 2

		li.menu-mobile__item
			span Пн - Пт | 10:00 - 20:00, Сб - Вс | Выходные

	div.menu-mobile__level-2
		p.menu-mobile__nav(data-mob_level="menu-mobile__level-3") show level 3
		p.menu-mobile__nav(data-mob_level="menu-mobile__level-2") close level-2
		
		ul.menu-mobile__list
			li.menu-mobile__item.menu-mobile__item--white-b
				span.menu-mobile__nav(data-mob_level="menu-mobile__level-2")
					include ../icon/icon.pug
					+icon('icon__cat')

					|Каталог

	div.menu-mobile__level-3
		p.menu-mobile__nav(data-mob_level="menu-mobile__level-4") show level 4
		p.menu-mobile__nav(data-mob_level="menu-mobile__level-3") close level 3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p level-3
		p 22222

	div.menu-mobile__level-4
		p.menu-mobile__nav(data-mob_level="menu-mobile__filter") show filter
		p.menu-mobile__nav(data-mob_level="menu-mobile__level-4") close level 4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p level-4
		p 22222

	div.menu-mobile__filter
		p.menu-mobile__nav(data-mob_level="menu-mobile__filter") close filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p filter
		p 22222