div.product-page
	div.product-page__top
		div.product-page__header
			div.product-page__title
				include __title/__title.pug

			div.product-page__action
				// нклюдим отдельный блок акции

		div.product-page__img
			// инклюдим отдельный блок слайдера

		div.product-page__info
			div.product-page__properties
				include __properties/__properties.pug

			div.product-page__buy
				include __buy/__buy.pug

			div.product-page__icons
				include __icons/__icons.pug

	div.product-page__table
		include __table/__table.pug

	div.product-page__bottom
		include __bottom/__bottom.pug