section.home-top
	div.container-1580
		h1 Готовь сани летом, а удочку зимой!

		p.home-top__desc Скидки до 15% 
			span на все yдочки при покупке до 1 мая!

		div.home-top__slider
			include ../slider-top/slider-top.pug