.home-top {
	background-image: url(../images/home-top__small.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;

	@media(min-width: 992px) {
		background-image: url(../images/home-top.jpg);
	}
}
.home-top h1 {
	margin-top: 0;
}