div.filter-categories
	ul.filter-categories__list
		li.filter-categories__item.filter-categories__item--active Все
		li.filter-categories__item Запасные хлысты и кольца
		li.filter-categories__item Кружки
		li.filter-categories__item Подставки для удилищ
		li.filter-categories__item Удилища матчевые
		li.filter-categories__item Удилища поплавочные
		li.filter-categories__item Удилища карповые
		li.filter-categories__item Удочки для зимней рыбалки