mixin bottom(data)
	div.bottom
		if(data.title)
			div.container-1580
				include ../title-icon/title-icon.pug
				+title-icon({icon: 'icon__fish', title: 'Гарантия качества', text: 'Вы всегда можете быть уверены в подлинности товара, так как мы закупаем продукцию только у официальных дилеров - ООО "Рыболов-Сервис", АО "НОРМАРК", ЗАО "Москанелла", ООО "Апико-Фиш", ООО "Стример", ООО "Вижн рус" и др.'})
		
		if(data.brands || data.action)
			div.bottom__brands-action
				if(data.brands)
					div.bottom__brands
						include ../brands/brands.pug

				if(data.action)
					div.bottom__action
						include ../action/action.pug

		if(data.subscribe)			
			div.bottom__subscribe
				div.container-1180
					include ../subscribe/subscribe.pug

		include ../footer/footer.pug