div.bottom
	div.container-1580
		include ../title-icon/title-icon.pug
		+title-icon({icon: 'icon__fish', title: 'Гарантия качества', text: 'Вы всегда можете быть уверены в подлинности товара, так как мы закупаем продукцию только у официальных дилеров - ООО "Рыболов-Сервис", АО "НОРМАРК", ЗАО "Москанелла", ООО "Апико-Фиш", ООО "Стример", ООО "Вижн рус" и др.'})
	
	div.bottom__brands-action
		div.bottom__brands
			include ../brands/brands.pug

		div.bottom__action
			include ../action/action.pug

	div.container-1180
		div.bottom__subscribe
			include ../subscribe/subscribe.pug

	include ../footer/footer.pug