div.product-page__buy-old-price
	span 2 500 руб
div.product-page__buy-action
	div.product-page__buy-price
		span 1 825
			b руб
	div.product-page__buy-cart
		include ../../btn/btn.pug
		+btn({icon_l: 'icon__cart', text: 'Добавить в корзину'})
	div.product-page__buy-star
		+btn({icon_l: 'icon__star'})