div.brands-line
	ul.brands-line__list
		li.brands-line__item
			img(src="images/brands__01.png", alt="")
		li.brands-line__item
			img(src="images/brands__02.png", alt="")
		li.brands-line__item
			img(src="images/brands__03.png", alt="")
		li.brands-line__item
			img(src="images/brands__04.png", alt="")
		li.brands-line__item
			img(src="images/brands__04.png", alt="")
		li.brands-line__item
			img(src="images/brands__03.png", alt="")
		li.brands-line__item
			img(src="images/brands__02.png", alt="")
		li.brands-line__item
			img(src="images/brands__01.png", alt="")
		li.brands-line__item
			img(src="images/brands__01.png", alt="")
		li.brands-line__item
			img(src="images/brands__02.png", alt="")
		li.brands-line__item
			img(src="images/brands__03.png", alt="")
		li.brands-line__item
			img(src="images/brands__04.png", alt="")
		li.brands-line__item
			img(src="images/brands__04.png", alt="")
		li.brands-line__item
			img(src="images/brands__03.png", alt="")
		li.brands-line__item
			img(src="images/brands__02.png", alt="")
		li.brands-line__item
			img(src="images/brands__01.png", alt="")
		li.brands-line__item
			img(src="images/brands__01.png", alt="")
		li.brands-line__item
			img(src="images/brands__02.png", alt="")
		li.brands-line__item
			img(src="images/brands__03.png", alt="")
		li.brands-line__item
			img(src="images/brands__04.png", alt="")