.cat-filter {
	max-width: 280px;
}
.cat-filter__block {
	border-bottom: 1px solid #CFCFCF;
	padding-top: 30px;
	padding-bottom: 27px;
}
.cat-filter__inputs {
	display: flex;
	justify-content: space-between;
}
.cat-filter__inputs input {
	width: 80px;
	text-align: center;

	@media(min-width: 1260px) {
		width: 110px;
	}
}