div.cat-filter
	div.cat-filter__block
		div.cat-filter__slider
			div.cat-filter__inputs
				input(type="text", id="minCost-1-mob", value="698")
				input(type="text", id="maxCost-1-mob", value="29698")

			div(id="slider-1-mob")

	div.cat-filter__block
		div.cat-filter__slider
			div.cat-filter__inputs
				input(type="text", id="minCost-2-mob", value="63")
				input(type="text", id="maxCost-2-mob", value="2987")

			div(id="slider-2-mob")

	div.cat-filter__block
		div.cat-filter__slider
			div.cat-filter__inputs
				input(type="text", id="minCost-3-mob", value="200")
				input(type="text", id="maxCost-3-mob", value="5000")

			div(id="slider-3-mob")

	div.cat-filter__block
		include ../checkbox/checkbox.pug
		+checkbox('Только в наличии')
		+checkbox('Только акции')

	div.cat-filter__block
		div.cat-filter__header
			span Бренды

			a(href="#") Сбросить

		div.cat-filter__scroll
			+checkbox('Shimano')
			+checkbox('G.Loomis')
			+checkbox('Lagoon')
			+checkbox('Trolling Master')
			+checkbox('Maximus')
			+checkbox('Pontoon21')
			+checkbox('Siweida')
			+checkbox('Aqua')
			+checkbox('L&F')
			+checkbox('Tom')
			+checkbox('Maximus')
			+checkbox('Pontoon21')
			+checkbox('Siweida')
			+checkbox('Aqua')
			+checkbox('L&F')
			+checkbox('Tom')
			+checkbox('Shimano')
			+checkbox('G.Loomis')
			+checkbox('Lagoon')
			+checkbox('Trolling Master')
			+checkbox('Maximus')
			+checkbox('Pontoon21')
			+checkbox('Siweida')
			+checkbox('Aqua')
			+checkbox('L&F')
			+checkbox('Tom')

		div.cat-filter__footer
			include ../btn/btn.pug
			+btn({text: 'Применить'})(class="btn--block")