div.contact-list
	ul.contact-list__list
		li.contact-list__item
			include ../icon/icon.pug
			+icon('icon__phone')

			p Телефон горячей линии: 
				b 8 800 252 22 22

		li.contact-list__item
			+icon('icon__phone')

			p Телефон интернет-магазина: 
				b +7 (926) 768-77-09

		li.contact-list__item
			+icon('icon__mail')

			p E-mail:
				b.contact-list__email  info@lovimtut.ru

		li.contact-list__item
			+icon('icon__geo')

			p Юридический адрес: 
				b Москва, Сколковское шоссе, д.31, ТЦ «Спорт-Хит», 4 этаж

		li.contact-list__item
			+icon('icon__hourglass')

			p Время работы Интернет - магазина: 
				b Пн.—Пт. 11:00—19:00