div.brands
	ul.brands__list
		li.brands__item
			img(src="images/brands__01.png", alt="")
		li.brands__item
			img(src="images/brands__02.png", alt="")
		li.brands__item
			img(src="images/brands__03.png", alt="")
		li.brands__item
			img(src="images/brands__04.png", alt="")
		li.brands__item
			img(src="images/brands__04.png", alt="")
		li.brands__item
			img(src="images/brands__03.png", alt="")
		li.brands__item
			img(src="images/brands__02.png", alt="")
		li.brands__item
			img(src="images/brands__01.png", alt="")
		li.brands__item
			img(src="images/brands__01.png", alt="")
		li.brands__item
			img(src="images/brands__02.png", alt="")
		li.brands__item
			img(src="images/brands__03.png", alt="")
		li.brands__item
			img(src="images/brands__04.png", alt="")