nav.menu
	ul.menu__list.menu__level-1
		li.menu__item
			a(href="#") Удилища

			div.menu__level-2
				ul
					li 
						a(href="#") 
							+icon('icon__spinning')
							|Спининговые						

					li 
						a(href="#") 
							+icon('icon__casting')
							|Кастинговые

					li.menu__level-2__dropdown
						a.hhh(href="#") 
							+icon('icon__plug-in')
							|Штекерные

						div.menu__level-3
							ul
								li 
									a(href="#") Штекерные 1

								li 
									a(href="#") Штекерные 2

								li 
									a(href="#") Штекерные 3

					li 
						a(href="#") 
							+icon('icon__float')
							|Поплавочные

					li 
						a(href="#") 
							+icon('icon__feeder')
							|Фидерные


		li.menu__item
			a(href="#") Катушки

		li.menu__item
			a(href="#") Лески

		li.menu__item
			a(href="#") Приманки

		li.menu__item
			a(href="#") Крючки

		li.menu__item
			a(href="#") Грузы

		li.menu__item
			a(href="#") Хранение

		li.menu__item
			a(href="#") Аксессуары

		li.menu__item
			a(href="#") Одежда

		li.menu__item
			a(href="#") Обувь

		li.menu__item
			a(href="#") Лодки