.menu__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.menu__level-1 > .menu__item > a {
	position: relative;
	display: block;
	line-height: 50px;
	padding: 0 21px;
	font-size: 14px;
	color: #363942;
	text-decoration: none;
	font-weight: 500;

	@media(min-width: 1280px) {
		padding: 0 24px;
	}
	@media(min-width: 1366px) {
		padding: 0 25px;
	}
	@media(min-width: 1440px) {
		padding: 0 28px 0 29px;
	}
	@media(min-width: 1600px) {
		padding: 0 36px;
	}
	@media(min-width: 1920px) {
		padding: 0 50px;
	}
}
.menu__level-1 > .menu__item > a:hover,
.menu__level-1 > .menu__item:hover > a {
	background-color: #363942;
	color: #ffffff;
}
.menu__level-1 > .menu__item > a::before {
	position: absolute;
	top: 12px;
	right: 0;
	display: block;
	content: "";
	width: 1px;
	height: 24px;
	background-color: rgba(0, 0, 0, 0.2);
}
.menu__level-1 > .menu__item:last-child > a:before {
	content: none;
}
.menu__level-2 {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 40px;
	box-sizing: border-box;
	background-color: #363942;
	transition: all 0.6s;
	z-index: 1000;

	@media(min-width: 1320px) {
		padding: 0 70px;
	}
}
.menu__level-2:hover {
	height: 160px;
}
.menu__level-1 > .menu__item:hover .menu__level-2 {
	height: 160px;
}
.menu__level-2-left,
.menu__level-2-right {
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	z-index: 2;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__level-2-left:hover,
.menu__level-2-right:hover {
	background: rgba(255, 255, 255, 0.2);
}
.menu__level-2-left .icon,
.menu__level-2-right .icon {
	fill: #ffffff;
	width: 7px;
	height: 12px;
}
.menu__level-2-left {	
	left: 935px;	

	@media(min-width: 1600px) {
		left: 1460px;
	}
}
.menu__level-2-right {
	left: 995px;

	@media(min-width: 1600px) {
		left: 1520px;
	}
}
.menu__level-2-body {
	position: relative;
	width: 850px;
	overflow: hidden;

	@media(min-width: 1600px) {
		width: 1360px;
	}
}
.menu__level-2-body > ul {
	position: relative;
	top: 0;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	transition: all 0.6s;
}
.menu__level-2-body > ul > li {
	text-align: center;
	display: flex;
	flex-direction: row;
}
.menu__level-2-body > ul > li:hover {
	background-color: rgba(216, 216, 216, 0.1);
}
.menu__level-2-body a {
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.menu__level-2-body > ul > li > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 160px;
	width: 170px;	
	padding: 0 7px;
	box-sizing: border-box;
}
.menu__level-2-body a:hover {
	color: #1EACF6;	
}
.menu__level-2-body a:hover svg {
	fill: #1EACF6;
}
.menu__level-2-body svg {
	fill: #fff;
	width: 57px;
	height: 50px;
	margin: 0 auto 12px auto;
	display: block;
}
.menu__level-3 {
	display: none;
}
.menu__level-3 ul {
	height: 160px;
	width: 170px;
	padding: 0 0 0 28px;
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: left;
}
.menu__level-3 ul:before {
	position: absolute;
	top: 31px;
	left: 0;
	display: block;
	content: "";
	width: 1px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.2);
}
.menu__level-3 li,
.menu__level-3 a {
	text-align: left;
}