mixin item-slide(data)
	a.item-slide(href="#", class!=attributes.class)
		div.item-slide__img
			img(src="images/"+data.img, alt=data.title)

		img.item-slide__ico(src="images/item-slide__wave.svg", alt="")

		span.item-slide__title
			span!=data.title