.top {
	background-color: #363942;
	color: #ffffff;
	font-size: 12px;

	@media(min-width: 1720px) {
		font-size: 14px;
	}
}
.top__row {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.top__menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top__menu li {
	display: inline-block;
	margin-right: 32px;

	@media(min-width: 1720px) {
		margin-right: 42px;
	}
}
.top__menu li:last-child {
	margin-right: 0;
}
.top__menu a {
	color: #ffffff;	
	text-decoration: none;
	transition: all 0.4s;
	border-bottom: 1px solid transparent;
}
.top__menu a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.top__info span {
	display: inline-block;
	height: 12px;
	border-right: 1px solid #3e4046;
	padding-right: 5px;
	margin-right: 5px;
	line-height: 12px;
}
.top__info span:first-child {
	display: none;
	border: none;
	margin-right: 0;

	@media(min-width: 1720px) {
		display: inline-block;
	}
}
.top__info span:last-child {
	border: none;
	margin: 0;
	padding: 0;
}
.top__icons {
	display: flex;
	flex-direction: row;
	height: 24px;
}
.top__icons svg {
	fill: #ffffff;
}
.top__icons a {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.4s;
}
.top__icons a:first-child {
	padding-right: 12px;
	border-right: 1px solid #4D4D4D;
	margin-right: 10px;
}
.top__icons a:hover {
	opacity: 0.7;
}
.top__icons i {
	height: 24px;
	margin-right: 9px;
}