div.cat
	div.cat__header
		div.cat__title
			h1 Удилища

		div.cat__icons
			i.cat__icon-card.cat__icon-hide
				+icon('icon__cat-box')
			i.cat__icon-list
				+icon('icon__cat-line')
			i.cat__icon-filter.mobile-filter-btn
				+icon('icon__setings')

		div.cat__icons-big
			i.cat__icon-card.cat__icon-active
				+icon('icon__cat-box')
			i.cat__icon-list
				+icon('icon__cat-line')

		div.cat__sort
			include ../cat-sort/cat-sort.pug

	div.cat__body
		div.cat__sidebar
			include ../cat-filter/cat-filter.pug

		div.cat__main
			div.cat__filter
				include ../filter-categories/filter-categories.pug

			ul.cat__list
				li.cat__item
					include ../product/product.pug
					+product({spec: 'Спецпредложение', img: 'product__img-04.jpg', title: 'Катушка SALMO Sniper Spin 5 2110FD', old_price: '5 500 руб', price: '4 500', not: 'Нет в наличии'})

				li.cat__item
					+product({img: 'product__img-03.jpg', title: 'Воблер SALMO Jack', price: '550'})

				li.cat__item
					+product({new: 'Новинка', img: 'product__img-02.jpg', title: 'Воблер SALMO Jack', price: '550'})

				li.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})

				li.cat__item
					+product({new: 'Новинка', img: 'product__img-02.jpg', title: 'Воблер SALMO Jack', price: '550'})

				li.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})

				li.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})

				li.cat__item
					+product({new: 'Новинка', img: 'product__img-02.jpg', title: 'Воблер SALMO Jack', price: '550'})

				li.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})

				li.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})

				li.cat__item
					+product({new: 'Новинка', img: 'product__img-02.jpg', title: 'Воблер SALMO Jack', price: '550'})

				li.cat__item
					+product({con2: true, new: 'Новинка', spec: 'Спецпредложение', img: 'product__img-01.jpg', title: 'Удилище нахлыстовое SALMO Diamond SKY 34563456', price: '1 825', not: 'Нет в наличии'})

			div.cat__show-more
				+btn({text: 'Показать еще'})

			div.cat__pagination
				include ../pagination/pagination.pug